@import "tailwindcss";

:root {
  --primary-color: #0C111D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Apply globally */
body {
  font-family: 'Inter', sans-serif;
}

.button {
  --border-angle: 0deg;
  border-radius: 50px;
  animation: border-angle-rotate 5s infinite linear;
  animation-play-state: running;
  border: 1px solid transparent;
  position: relative;
  cursor: pointer;
  padding: 3px 16px;
  transition: transform 0.3s ease;
}

.button.box {
  background: 
    linear-gradient(#0C111D, #0C111D) padding-box,
    conic-gradient(
      from var(--border-angle),
      rgba(255, 255, 255,0.9) 0deg 10deg,  
      var(--bg) 25deg 335deg,         
      rgba(255, 255, 255,0.9) 350deg 360deg 
    ) border-box;
}

@keyframes border-angle-rotate {
  from {
    --border-angle: 0deg;
  }

  to {
    --border-angle: 360deg;
  }
}

@property --border-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.animation-button {
  --bg: transparent;
  place-content: center;
}